/* .charts{
    float: left;
}
.fav-album{
    width: 30%;
}
.fav-album{
    max-width: 20%;
    height: 20%;
    display: block;
    margin: 0 auto;

} */
  td {
    /* border: 1px solid black; */
    border-collapse: collapse;
    background-color: rgb(193, 202, 205);
    
    text-align: center;
    height: 50px;
  }
  .title{
    background-color: rgb(21, 188, 71);
    /* border: 1px solid black; */
    border-collapse: collapse;
    text-align: center;
  }
  .track :hover{
    transform: scale(1.3);
    font-size: large;
    color: rgb(35, 147, 25);
    
  }
  table{
    width: 100%
   
  }
  .first{
    padding-right: 30px;
  }
  body{
    background-color: rgb(102, 143, 143);
  }

  .streak{
    width:10%;
  }

  .spotify{
    display: flex;
    align-items: center;
}

.album{
    height: 100px;
    width: 500px;

}
.album iframe:hover{
  
  width: 60%;
  height: 80%;
}
.number{
  height: 100px;
}
.track{
  height: 100px;
  width: 25%;
  color: rgb(2, 3, 2);
}
.artist{
  height: 100px;
  width: 25%;
  color: #963f3f;

  
}

.artist :hover{
  transform: scale(1.3);
  font-size: large;
  color: rgb(35, 147, 25);
  
  
}
